<%- include('partials/header') %>

<script>
    
</script>

<!-- cart body -->
<div style="" class="cart">
    <div style="" class="cart" onclick="">
        
        <ul style=" " class="cart">
          
            <% if (lengthCart > 0) { %>
                <h2 style="" class="cart"> Items adicionados ao Carrinho: </h2>
                <% for(i = 0; i<productsCart.length; i++) { %> 
                    
                <li style=" " class="cart">            
                          
                            <form action="/cartItems" method="POST">
                            <div style="" class="cart">
                                <input name="productName" readonly style="" class="cart inputRead" id="productName" value=" <%= productsCart[i]['productname'] %> ">
                                <input name="productDescription" readonly style="" class="cart inputRead" id="productDescription" value="<%= productsCart[i]['productdescription'] %>" >
                                
                                <label for="productQuantity" style="margin-left: 5px;" class="cart"> Quantidade de remessas:  </label>
                                <input name="productQuantity"  value="<%= productsCart[i]['productquantity'] %>"  type="numbers"  onchange="document.getElementById('saveButton<%=i%>').click()" id="quantityInput<%=i%>" class="cart quantityInput" name="quantity">
                            
                                <button name="submitButton" id="saveButton<%=i%>" value="save" type="submit" class="cart" style="visibility: hidden; height: 0px; font-size: 0px;"> Salvar remessas </button>
                            </div>
                            
                                <button name="submitButton" value="delete" type="submit" class="cart" id="deleteButton" style=""> Tirar Item do Carrinho </button>
                            </form>
                
                </li>         

                <% } %>
            <% }  else { %>
                    <h2 class="cart"> Não há itens no carrinho. </h2>
                    <p style=""  class="cart" > Navegue por nossa coleção! </p>
                    <% } %>   
        </ul> 
    </div>

    <% if (lengthCart > 0) { %>
    <!-- Totalizator -->
     <div class="cart" style="display: flex; align-items: center; justify-content: center;">
        <h4 class="cart" style="text-align: center; font-weight: 900;"> Total : <strong style="color: green;"> R$ <%= totalCart.toFixed(2)  %> </strong></h4>
     </div> 

    <!-- Checkout -->
    <div style="" class="cart" id="meliDiv">
             <!--SDK Payment-->
             <div id="wallet_container" class="cart" style=""></div>
             <script>
                 const mp = new MercadoPago('TEST-94cbcad2-f10d-4e1a-929a-1985dea7543e', {
                 locale: 'pt-BR'
                 });
     
                 mp.bricks().create("wallet", "wallet_container", {
                 initialization: {
                    preferenceId: "<%=  idPreference %>",
                 },
                 }); 
             </script>
    </div>
     <% } %>
    <!-- Return -->
    <div style="display: flex; align-items: center; justify-content: center;" class="cart">

        <a href="/logged" class="cart">
        <!-- <form action="/exitCart" method="POST">     -->
            <!-- This button needs updates the quantity products too in the cart! -->
            <button id="returnButton" name="submitButton" value="return" type="submit" class="" style="">Ver mais produtos</button>
        <!-- </form> -->
        <!-- </form> -->
        </a>
    </div>        

</div>






<!-- <%- include('partials/footer') %> -->