<%- include('partials/header') %>

<!-- cart body -->
<div style="" class="cart">
    <div style="" class="cart" onclick="">
        
        <ul style=" " class="cart">
          
            <% if (lengthCart > 0) { %>
                <h2 style="" class="cart"> Items adicionados ao Carrinho: </h2>
                <% for(var i = 0; i<productsCart.length; i++) { %> 
                    
                <li style=" " class="cart">            
                          
                            <form action="/cartItems" method="POST">
                            <div style="" class="cart">
                                <input name="productName" readonly style="" class="cart inputRead" id="productName<%i%>" value=" <%= productsCart[i]['productname'] %> ">
                                <input name="productDescription" readonly style="" class="cart inputRead" id="productDescription" value="<%= productsCart[i]['productdescription'] %>">
                                <input name="productPrice" readonly style="" class="cart inputRead" id="productPrice" value="<%= productsCart[i]['productprice'] %>" >
                                <label for="productQuantity" style="margin-left: 5px;" class="cart"> Quantidade de remessas:  </label>
                                <input name="productQuantity"  value="<%= productsCart[i]['productquantity'] %>"  type="numbers"  onchange="document.getElementById('saveButton<%=i%>').click()" id="quantityInput<%i%>" class="cart quantityInput">
                                <!-- this buton doesent exists! -->
                                <button value="<%= productsCart.length %> " id="getPosition<%i%>" style="visibility: hidden;"></button>
                                <!-- this is just hidden but exists.-->
                                <button name="submitButton" id="saveButton<%=i%>" value="save" type="submit" class="cart" style="visibility: hidden; height: 0px; font-size: 0px;"> Salvar remessas </button>
                            </div>
                                <button name="submitButton" value="delete" type="submit" class="cart" id="deleteButton" style=""> Tirar Item do Carrinho </button>
                            </form>
                
                </li>         

                <% } %>
            <% }  else { %>
                    <h2 class="cart"> Não há itens no carrinho. </h2>
                    <p style=""  class="cart" > Navegue por nossa coleção! </p>
                    <% } %>   
        </ul> 
    </div>

    <% if (lengthCart > 0) { %>
    <!-- Totalizator -->
     <div class="cart" style="display: flex; align-items: center; justify-content: center;">
        <h4 class="cart" style="text-align: center; font-weight: 900;"> Total : <strong style="color: green;"> R$ <%= totalCart.toFixed(2)  %> </strong></h4>
     </div> 

    <!-- Checkout -->
    <div style="" class="cart" id="meliDiv">
             <!--SDK Payment-->
             <div id="wallet_container" class="cart" style=""></div>
             <script>
                 const mp = new MercadoPago('TEST-94cbcad2-f10d-4e1a-929a-1985dea7543e', {
                 locale: 'pt-BR'
                 });
     
                 mp.bricks().create("wallet", "wallet_container", {
                 initialization: {
                    preferenceId: "<%=  idPreference %>",
                 },
                 }); 
             </script>
    </div>
     <% } %>
    <!-- Return -->
    <div style="display: flex; align-items: center; justify-content: center;" class="cart">

        <a href="/logged" class="cart" style="visibility: hidden;" id="toLogged"></a>
        <!-- <form action="/exitCart" method="POST">     -->
            <!-- This button needs updates the quantity products too in the cart! -->
        <script>
            function mouseLeave() {
                document.getElementById('paragraph').style.visibility = "visible";
                document.getElementById('paragraph').style.fontSize = "30px";
                const scrollHeight = document.body.scrollHeight;
                window.scrollTo(0, scrollHeight);
            }
        </script>
              <% if (lengthCart > 0) { %>
            <button name="" onclick="mouseLeave()" ondblclick="document.getElementById('toLogged').click()"  type="submit" class="" style=" display: flex; align-items: end; justify-content: center; ">
                <div style="">
                    <h5 style="font-weight: 900; padding-top: 10px;">Veja mais produtos</h5>
                    <p id="paragraph" style="visibility: hidden; font-size: 0px;"> Aperte-me 2 vezes</p>
                </div>
            </button>
            <% } else { %>
                <a href="/logged" class="cart" style="text-decoration: none;">
                    <button name="" onclick="mouseLeave()" ondblclick="document.getElementById('toLogged').click()"  type="submit" class="p-3" style=" display: flex; align-items: end; justify-content: center; padding-top: 0px;">
                        Ver produtos
                    </button>
                </a>
            <% } %>
        
        <!-- </form> -->
        <!-- </form> -->
      
    </div>        

</div>






<!-- <%- include('partials/footer') %> -->