<%- include('partials/header') %>

<script>
  function notDouble() {

  }
</script>

  <!-- store body -->
  <div style=" height: 100vh; display: flex; flex-direction: column;">
    <div class="product" style=" background-color: rgb(241, 241, 241); display: flex; flex-wrap: wrap; flex-direction: row;">
      <div class=" product" style="">
        <form action="/cart" method="POST">  
        <strong><h2 class="p-3 product" name="productName" value=" <%= nameView %> "> <%= nameView %><br></strong> <small> <%= descriptionView %> </small></h2> 
        <div style=" display: flex; justify-content: center; text-align: center; width: 100%; flex-direction: row;" class="imgButtons product">
          <div style="" class="together product">
            <div class="priceButtons" style=" width: auto;">
                  <h3 class="p-3 product" style="color: green;"> R$ <%= priceView %></h3>
          
                
                <div class="fitButtons" style="display: flex; flex-direction: column; align-items: center; margin-top: 10px;">
                 
                    <a href="/cart"><button type="submit" ondblclick="notDouble()" style="margin-bottom: 10px;" class="p-2 addButton"> Adicionar ao Carrinho </button></a>
                  </form>
                  
                  <a href="/logged" class="product" id="returnLink" style="">  Retornar </a>
                </div>
              </div>
        <div style=" width: auto;">
           <img class="product" src="<%= imgView %>" style="border: 5px solid rgb(93, 91, 91); border-radius: 5%;" width="100" height="400" alt="Estopa de Limpeza">
        </div>
      </div>
      </div>
      </div>
   
    </div>

    <!-- <%- include('partials/footer') %> -->

</div>